@import url(//fonts.googleapis.com/css?family=Nanum+Gothic:400,700|Roboto+Slab:400,700,300|Roboto:400,700,300|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300);button,input[type="button"],input[type="reset"],input[type="submit"],button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    background-color: #5076bd;
    border-radius: 3px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Nanum Gothic","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    padding: 0.75em 1em;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap
}

button:hover,button:focus,input[type="button"]:hover,input[type="button"]:focus,input[type="reset"]:hover,input[type="reset"]:focus,input[type="submit"]:hover,input[type="submit"]:focus,button:hover,button:focus {
    background-color: #8c3557;
    color: #fff
}

button:disabled,input[type="button"]:disabled,input[type="reset"]:disabled,input[type="submit"]:disabled,button:disabled {
    cursor: not-allowed;
    opacity: 0.5
}

fieldset {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    margin: 0 0 14.4px;
    padding: 28.8px
}

input,label,select {
    display: block;
    font-family: "Nanum Gothic","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
    font-size: 16px
}

label {
    font-weight: 600;
    margin-bottom: 7.2px
}

label.required::after {
    content: "*"
}

label abbr {
    display: none
}

input[type="color"],input[type="date"],input[type="datetime"],input[type="datetime-local"],input[type="email"],input[type="month"],input[type="number"],input[type="password"],input[type="search"],input[type="tel"],input[type="text"],input[type="time"],input[type="url"],input[type="week"],textarea,select[multiple=multiple],textarea {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
    box-sizing: border-box;
    font-family: "Nanum Gothic","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
    font-size: 16px;
    margin-bottom: 14.4px;
    padding: 9.6px;
    transition: border-color;
    width: 100%
}

input[type="color"]:hover,input[type="date"]:hover,input[type="datetime"]:hover,input[type="datetime-local"]:hover,input[type="email"]:hover,input[type="month"]:hover,input[type="number"]:hover,input[type="password"]:hover,input[type="search"]:hover,input[type="tel"]:hover,input[type="text"]:hover,input[type="time"]:hover,input[type="url"]:hover,input[type="week"]:hover,textarea:hover,select[multiple=multiple]:hover,textarea:hover {
    border-color: #c4c4c4
}

input[type="color"]:focus,input[type="date"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="email"]:focus,input[type="month"]:focus,input[type="number"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="text"]:focus,input[type="time"]:focus,input[type="url"]:focus,input[type="week"]:focus,textarea:focus,select[multiple=multiple]:focus,textarea:focus {
    border-color: #bd507b;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.06),0 0 5px rgba(177,67,110,0.7);
    outline: none
}

textarea {
    resize: vertical
}

input[type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none
}

input[type="checkbox"],input[type="radio"] {
    display: inline;
    margin-right: 7.2px
}

input[type="file"] {
    padding-bottom: 14.4px;
    width: 100%
}

select {
    margin-bottom: 28.8px;
    max-width: 100%;
    width: auto
}

ul.default,.page-content ul.post-list,.page-content .page ul.posts-list,.site-footer .site-navigation ul,.site-footer .site-contact ul,.page-content ol.post-list,.page-content .page ol.posts-list,ol.default {
    list-style-type: none;
    margin: 0;
    padding: 0
}

ul {
    list-style-type: disc;
    margin-bottom: 14.4px;
    padding-left: 28.8px
}

ol {
    list-style-type: decimal;
    margin-bottom: 14.4px;
    padding-left: 28.8px
}

dl {
    margin-bottom: 14.4px
}

dl dt {
    font-weight: bold;
    margin-top: 14.4px
}

dl dd {
    margin: 0
}

table {
    -webkit-font-feature-settings: "kern","liga","tnum";
    -moz-font-feature-settings: "kern","liga","tnum";
    -ms-font-feature-settings: "kern","liga","tnum";
    font-feature-settings: "kern","liga","tnum";
    border-collapse: collapse;
    margin: 14.4px 0;
    table-layout: fixed;
    width: 100%
}

th {
    border-bottom: 1px solid #b7b7b7;
    font-weight: 600;
    padding: 14.4px 0;
    text-align: left
}

td {
    border-bottom: 1px solid #ddd;
    padding: 14.4px 0
}

tr,td,th {
    vertical-align: middle
}

body {
    -webkit-font-feature-settings: "kern","liga","pnum";
    -moz-font-feature-settings: "kern","liga","pnum";
    -ms-font-feature-settings: "kern","liga","pnum";
    font-feature-settings: "kern","liga","pnum";
    -webkit-font-smoothing: antialiased;
    color: #333;
    font-family: "Nanum Gothic","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
    font-size: 16px;
    line-height: 1.8
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Nanum Gothic","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 16px;
    line-height: 1.8;
    margin: 0 0 16px;
    margin: 0 0 1rem
}

h1 {
    font-size: 2.0736em
}

h2 {
    font-size: 1.728em
}

h3 {
    font-size: 1.44em
}

h4 {
    font-size: 1.2em
}

h5 {
    font-size: .8333333333em
}

h6 {
    font-size: .6944444444em
}

p {
    margin: 0 0 14.4px
}

a {
    color: #000000;
    text-decoration: none
}

a:active,a:focus,a:hover {
    color: #000000;
    text-decoration: underline
}

a:active,a:focus {
    outline: none
}

hr {
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 28.8px 0
}

img,picture {
    margin: 0;
    max-width: 100%
}

html {
    box-sizing: border-box
}

*,*::after,*::before {
    box-sizing: inherit
}

html,body {
    margin: 0;
    padding: 0;
    width: 100%
}

code {
    background-color: #eee;
    display: inline-block;
    border-radius: 3px;
    padding: 0 3px
}

blockquote {
    color: #999;
    font-style: italic;
    border-left: 2px solid #ddd;
    margin-left: 0;
    padding-left: 3em
}

pre code.hljs {
    font-size: .8333333333em
}

.navigation {
    box-shadow: 0 2px #436aa5;
    padding: 0 1em;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #0a326e;
    z-index: 1
}

.navigation .navigation-menu-button {
    display: block;
    float: right;
    margin: 0;
    font-size: 1.5em;
    padding-top: 0.5em
}

.navigation a {
    color: #ffffff;
    text-decoration: none
}
.navigation a:active,.navigation a:focus,.navigation a:hover {
    color: #ffffff;
    text-decoration: underline
}

.navigation a:active,.navigation a:focus {
    outline: none
}

@media screen and (min-width: 768px) {
    .navigation .navigation-menu-button {
        display:none
    }
}

.navigation .navigation-wrapper {
    max-width: 48em;
    margin-left: auto;
    margin-right: auto;
    position: relative
}

.navigation .navigation-wrapper::after {
    clear: both;
    content: "";
    display: table
}

.navigation .navigation-wrapper::after {
    clear: both;
    content: "";
    display: table
}

.navigation .logo {
    float: left;
    height: 4em
}

@media screen and (min-width: 768px) {
    .navigation .logo {
        padding-left:16px
    }
}

.navigation .logo img {
    max-height: 2.5em;
    margin-top: 0.75em;
    padding-right: 1em
}

.navigation .logo span {
    font-size: 1.25em
}

.navigation nav {
    float: none;
    padding: 1.25em 0
}

@media screen and (min-width: 768px) {
    .navigation nav {
        float:right;
        line-height: 1.5em
    }
}

.navigation ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%
}

@media screen and (min-width: 768px) {
    .navigation ul.navigation-menu {
        display:block;
        margin: 0;
        padding: 0
    }
}

.navigation ul.navigation-menu.show {
    display: block
}

.navigation ul li.nav-link {
    display: block;
    text-align: right;
    width: 100%;
    padding: 0.25em 0
}

@media screen and (min-width: 768px) {
    .navigation ul li.nav-link {
        background:transparent;
        display: inline;
        text-decoration: none;
        width: auto
    }
}

.navigation li.nav-link a {
    display: inline-block
}

@media screen and (min-width: 768px) {
    .navigation li.nav-link a {
        padding-right:1.5em
    }
}

@media screen and (min-width: 768px) {
    .navigation li.nav-link:last-child a {
        padding-right:1em
    }
}

.site-main a{
    color: #000
}

.site-main a {
    color: #000;
    text-decoration: none
}
.site-main a:active,.site-main a:focus,.site-main a:hover {
    color: #000;
    text-decoration: underline
}

.site-main a:active,.site-main a:focus {
    outline: none
}

.site-footer {
    padding: 1em 1em 2em 1em;
    background-color: #0a326e;
    color: #fff
}

.site-footer a {
    color: #fff
}

.site-footer a:active,.site-footer a:focus,.site-footer a:hover {
    color: #e6e6e6
}

.site-footer a:active,.site-footer a:focus {
    outline: none
}

.site-footer .wrapper {
    max-width: 48em;
    margin-left: auto;
    margin-right: auto
}

.site-footer .wrapper::after {
    clear: both;
    content: "";
    display: table
}

.site-footer .site-navigation {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
    font-size: 0.9em
}

.site-footer .site-navigation:last-child {
    margin-right: 0
}

@media screen and (min-width: 480px) {
    .site-footer .site-navigation {
        float:left;
        display: block;
        margin-right: 2.3576515979%;
        width: 48.821174201%
    }

    .site-footer .site-navigation:last-child {
        margin-right: 0
    }
}

@media screen and (min-width: 768px) {
    .site-footer .site-navigation {
        float:left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%
    }

    .site-footer .site-navigation:last-child {
        margin-right: 0
    }
}

.site-footer .site-contact {
    margin-top: 1em;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
    font-size: 0.9em
}

.site-footer .site-contact:last-child {
    margin-right: 0
}

@media screen and (min-width: 480px) {
    .site-footer .site-contact {
        float:left;
        display: block;
        margin-right: 2.3576515979%;
        width: 48.821174201%;
        margin-top: 0;
        margin-right: 0
    }

    .site-footer .site-contact:last-child {
        margin-right: 0
    }
}

@media screen and (min-width: 768px) {
    .site-footer .site-contact {
        float:left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%;
        margin-top: 0
    }

    .site-footer .site-contact:last-child {
        margin-right: 0
    }
}

.site-footer .site-contact i {
    width: 1.25em;
    text-align: center
}

.site-footer .site-signature {
    margin-top: 1em;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
    font-size: 0.9em
}

.site-footer .site-signature:last-child {
    margin-right: 0
}

@media screen and (min-width: 768px) {
    .site-footer .site-signature {
        float:left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%;
        margin-right: 0;
        margin-top: 0
    }

    .site-footer .site-signature:last-child {
        margin-right: 0
    }
}

.site-footer .site-signature a {
    text-decoration: underline
}
